<ion-header>
  <ion-toolbar>
    <ion-title>Directions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  Scan BLE device to get distance:<br>
  <ion-button (click)=scan()><ion-icon name='Bluetooth'></ion-icon>Scan</ion-button>

  <p [innerHTML]="scanStatus"></p>
  <ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.localName || "Unnamed"}}</p>
      <p>{{device.uuids}}</p>
      <p>RSSI: {{device.rssi}}</p>
    </ion-card-content>
  </ion-list>
  
  <div> Distance to go: {{distanceToBook}}m </div><br>
  <div style="padding-left:40px"><ion-icon name="pin-outline"></ion-icon><ion-icon name="book-outline"></ion-icon></div>
  <div class="mapContainer" *ngFor="let i of displayMap">
      <div *ngFor="let j of i">
          <div class="mapCell" *ngIf="j == 1"> <ion-icon name="man-outline"></ion-icon></div>
          <div class="mapCell" *ngIf="j == 0"> {{j}}</div>
      </div>
  </div>
  
  <div *ngIf="bookReached">
    Book found, click to check out:
    <ion-button [routerLink]="['/scan']"> Scan book </ion-button>
  </div>

</ion-content>
