<ion-header>
  <ion-toolbar>
    <ion-title>Directions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!----------------------------------------------- iBeacon Scan --------------------------------------------------------->
  <ion-button (click)=smartBeaconScan()><ion-icon name='Bluetooth'></ion-icon>Get Directions</ion-button>
  <p>Head towards the <i class="fa-solid fa-book" style="color:green;"></i></p>

  <!--<p [innerHTML]="scanStatus"></p>
  <p [innerHTML]="toMove"></p>-->
  <p>You are heading: {{heading}}</p>

 <!--<ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.localName || "Unnamed"}}</p>
      <p>UUID: {{device.uuid}}</p>
      <p>RSSI: {{device.rssi}}</p>
      <p>Distance: {{device.distance}}</p>
    </ion-card-content>
  </ion-list>-->

  <!----------------------------------------------- NFC Scan --------------------------------------------------------->
  <div *ngIf="bookReached">
    Book found, click to check out:
    <ion-button [routerLink]="['/scan']"> Scan book </ion-button>
  </div>
  
  <!----------------------------------------------- Map --------------------------------------------------------->

  <div> Distance to go: {{beaconDistance}}m </div><br>
  <div class="map">
    <div class= "mapContainer" *ngFor="let row of floorPlan; let i = index;">
      <div *ngFor="let col of row; let j = index;">
          <div *ngIf="col == '@' && isBeaconCoordinate(i, j)" id='target' class="mapCell"><i class="fa-solid fa-book" style="font-size:20px"></i></div>
          <div *ngIf="col == '@' && !isBeaconCoordinate(i, j)" class="mapCell"><i class="fa-solid fa-book" style="font-size:20px"></i></div>
          <div *ngIf="col == '1'" class="mapCell"><ion-icon name="man-outline" style="font-size:30px"></ion-icon></div>
          <div *ngIf="col != '1' && col != '@'" class="mapCell">{{col}}</div> 
      </div>
    </div>
  <!--<i class="fa-solid fa-door-open"></i>-->
  </div>

</ion-content>
