.mapContainer {
    display: grid;
    grid-template-columns: 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px;
  }

.mapCell {
  width:7px;
  height:7px;
}

#target{
  color: green;
}

.map{
  border: 1px solid;
  padding-bottom: 20px;
  padding-right: 15px;
}