<ion-header>
  <ion-toolbar>
    <ion-title>Directions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!----------------------------------------------- BLE Scan --------------------------------------------------------->
  Scan BLE device to get distance:<br>
  <ion-button (click)=scan()><ion-icon name='Bluetooth'></ion-icon>Scan</ion-button>

  <p [innerHTML]="scanStatus"></p>
  <ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.localName || "Unnamed"}}</p>
      <p>{{device.uuids}}</p>
      <p>RSSI: {{device.rssi}}</p>
    </ion-card-content>
  </ion-list>
  
  <!----------------------------------------------- Map --------------------------------------------------------->

  <div> Distance to go: {{beaconDistance}}m </div><br>
  <div class= "mapContainer" *ngFor="let i of floorPlan">
      <div *ngFor="let j of i">
          <div *ngIf="j == '@'" class="mapCell"><ion-icon name="book-outline"></ion-icon></div>
          <div *ngIf="j == '1'" class="mapCell"><ion-icon name="man-outline"></ion-icon></div>
          <div *ngIf="j != '1' && j != '@'" class="mapCell">{{j}}</div>
      </div>
  </div>
  
  <!----------------------------------------------- NFC Scan --------------------------------------------------------->
  <div *ngIf="bookReached">
    Book found, click to check out:
    <ion-button [routerLink]="['/scan']"> Scan book </ion-button>
  </div>

</ion-content>
