.mapContainer {
    display: grid;
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
}

.mapCell {
  width:15px;
  height:15px;
}

#target{
  background-color: chartreuse;
}