<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div> Welcome to the Smart Library</div>
  <br>
  <br>
  <div> Your books: </div>
  <br>
  <ion-list>
    <ion-item style="color:white" *ngFor = "let book of bookList">
      <ion-label>{{book?.title}}</ion-label>
    </ion-item>
  </ion-list>
  <br>
  <ion-button [routerLink]="['/search']"> Find a book </ion-button>

<ion-button (click)=scan()><ion-icon name='Bluetooth'></ion-icon>Scan</ion-button>

<ion-content>
  <p [innerHTML]="scanStatus"></p>
  <ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.name || "Unnamed"}}</p>
      <p>{{device.id}}</p>
      <p>RSSI: {{device.rssi}}</p>
    </ion-card-content>
  </ion-list>
</ion-content>

</ion-content>
